body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #26292c;
    
}

#game_image{
    width: 100%;
}

.content1{
    float: left;
    width: 520px;
    padding: 50px;
    position: relative;
    color: #e0e0e0;
}

.footer{
    height: 40px;
    text-align: center;
    background-color:#e0e0e0;
    color: #26292c;
    clear: both;
}



